[submodule "uniqueinstance"]
	path = uniqueinstance
	url = https://github.com/blikblum/luipack/
[submodule "utils_libs"]
	path = utils_libs
	url = https://github.com/red-prig/utils_libs
[submodule "netlibs"]
	path = netlibs
	url = https://github.com/red-prig/netlibs
[submodule "FastMM4-AVX"]
	path = FastMM4-AVX
	url = https://github.com/red-prig/FastMM4-AVX
[submodule "audio_libs"]
	path = audio_libs
	url = https://github.com/red-prig/audio_libs
